* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #141414; */
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* body .background-top {
  background-color: #141414;
  height: 150vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

header {
  display: inline;
  position: relative;
}

/* Navigasi */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 7rem;
  background-color: #141414;
  position: fixed;
  top: 0;
  width: 100%;
}

nav.scrolled {
  padding: 2rem 7rem;
  transition: 0.2s all ease;
  box-shadow: 0px 16px 40px 0px rgba(20, 20, 20, 15%);
  z-index: 2;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 3rem;
}

nav.scrolled ul li a {
  font-size: 1em;
}

nav ul li a.btn {
  background-color: #d0111e;
  box-shadow: 0px 16px 40px 0px rgba(214, 58, 58, 20%);
  padding: 1.25em 2.25em;
}

nav ul li a.btn:hover {
  background-color: #bb1a25;
  box-shadow: 0px 16px 24px 0px rgba(255, 255, 255, 10%);
  color: white;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #d0111e;
}

.menu-toggle {
  display: none;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.fa-phone {
  margin-right: 0.75em;
}

/* Jumbotron */
#top-wrapper {
  padding-left: 7rem;
  padding-top: 14rem;
  margin-bottom: 7.5rem;
  /* opacity: 0; */
}

#top-wrapper .bg-top {
  background-color: #141414;
  height: 160%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#top-wrapper h1 {
  font-size: 6vmax;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 4.375rem;
  width: 75vw;
}

/* Populasi */
.population {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.item {
  flex-direction: column;
  flex-basis: 14%;
}

.item h6 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.item p {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 300;
}

/* Gambar */
/* #top-wrapper .top-img img {
  padding-left: 7rem;
  margin-bottom: 7.5rem;
} */

/* Featured */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7rem;
}

.featured h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 3rem;
}

.featured-logo img {
  margin-right: 3rem;
  margin-bottom: 16rem;
}

/* News (Berita) */
#news {
  padding: 0 7rem;
  display: flex;
  flex-wrap: wrap;
  color: #141414;
  margin-bottom: 10rem;
  justify-content: space-between;
}

.item-news.satu {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  align-items: center;
  /* flex-wrap: wrap; */
}

.item-news.satu img {
  margin-right: 56px;
  margin-bottom: 0px;
}

.item-news {
  /* flex-direction: column; */
  flex-basis: 14%;
  margin-right: 25px;
  margin-bottom: 56px;
}

.item-news img {
  height: 22em;
  margin-bottom: 20px;
}

.text-news .date {
  display: flex;
}

.text-news .date h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-news h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.item-news.satu .text-news h3 {
  font-size: 2.2rem;
}

.text-news p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 1.5rem;
}

.text-news a {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #d0111e;
}

#services {
  background-color: #f4f6f7;
  height: 100%;
  color: #141414;
  align-items: center;
  justify-content: center;
}

.content-service {
  padding: 112px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.item-service {
  flex-direction: column;
  margin-right: 48px;
}

.item-service h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.item-service p {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.8;
}

#rank {
  background-color: #141414;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  /* padding-right: 80px; */
  justify-content: center;
  margin-bottom: 160px;
}

.text-rank {
  padding: 112px;
}

.text-rank h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

#team {
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
  margin-bottom: 160px;
}

.item-team {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  z-index: -5;
  /* margin-right: 20px; */
  /* width: 30%; */
}

.item-team img {
  height: 29em;
}

.name-tage {
  position: absolute;
  /* align-self: flex-end; */
  background-color: #000;
  width: 75%;
  height: 19%;
  bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.line span {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 60px;
  margin-right: 16px;
}

.text-team h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.text-team p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}

#press {
  padding: 0 112px;
  margin-bottom: 160px;
}

#press h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.latest-press {
  display: flex;
  justify-content: space-between;
}

.item-press {
  flex-basis: 25%;
  /* margin-right: 20px; */
}

.item-press img {
  margin-bottom: 1.5rem;
  width: 22.5em;
}

.text-press h4 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.text-press p {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.text-press a {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #d0111e;
}

#contact {
  padding: 0 112px;
  color: #141414;
  float: left;
  width: 70%;
}

.tagline {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 0.8rem;
}

.tagline span {
  /* padding: 1.2rem;
  border-bottom: 2px solid rgb(214, 58, 58);
  margin-right: 16px; */

  display: block;
  width: 3em;
  height: 2px;
  background-color: rgb(214, 58, 58);
  left: 0;
  top: 50%;
  margin-right: 1rem;
}

.tagline h5 {
  font-size: 0.9rem;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  color: rgb(214, 58, 58);
  /* position: relative; */
}

.text-about h2 {
  font-size: 3vmax;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.text-about p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 2.5rem;
}

.text-about a.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  padding: 1em 2em;
  background-color: #bb1a25;
  border-radius: 2px;
  box-shadow: 0px 16px 40px 0px rgba(214, 58, 58, 20%);
}

.card {
  box-shadow: 0px 16px 40px 0px rgba(20, 20, 20, 15%);
  border-radius: 5px;
  padding: 16px;
  width: 20vw;
}

.profile header img {
  width: 100%;
}

.profile header {
  z-index: -1;
}

aside {
  float: right;
  width: 20%;
  margin-right: 112px;
}

.information ul {
  display: flex;
  justify-content: space-evenly;
}

.information span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(199, 199, 199);
  left: 0;
  top: 50%;
  margin: 0.5em 0;
}

.fa-brands {
  font-size: 24px;
  color: #535353;
}

.information h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

footer {
  background-color: #141414;
  color: white;
  /* height: 100%; */
  margin-top: 40rem;
}

.footer-content {
  padding: 80px 112px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footer-logo {
  flex-direction: column;
  flex-basis: 19%;
}

.footer-logo img {
  margin-bottom: 0.9rem;
}

.footer-menu {
  display: flex;
  /* justify-content: space-evenly; */
}

.footer-text {
  flex-basis: 19%;
  margin-right: 7rem;
}

.footer-menu p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.6rem;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li a {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  margin-right: 2.5rem;
}

.footer-menu ul li a.red {
  color: #d0111e;
}

.elemen {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.8s ease;
  z-index: -100;
}

.show {
  position: relative;
  transform: translateY(0px);
  opacity: 1;
}
